header#menu-bar {
  padding-inline: 0.625rem;
}
header#menu-bar > ul {
  list-style: none;
  display: flex;
}

header#menu-bar > ul > li {
  padding: 0.25rem 0.625rem;
  border-radius: 5px;
}

header#menu-bar > ul > li:hover {
  background-color: var(--gray-color);
}
