header#menu-bar > ul {
  padding-inline: 0.625rem;
  padding-block-start: 0.25rem;
  list-style: none;
  display: flex;
  gap: 2rem;
}

header#menu-bar > ul > li {
  padding: 0.25rem;
  border-radius: 5px;
}

header#menu-bar > ul > li:hover {
  background-color: var(--gray-color);
}
