* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

:root {
  --light-color: #FFFFFF;
  --light-gray-color: #DBDBDB;
  --gray-color: #B3B3B3;
  --dark-gray-color: #616161;
  --dark-color: #000000;
}

:root, html, body, div#root {
  width: 100%;
  height: 100%;
}

div#root {
  display: flex;
  flex-direction: column;
  background-color: var(--light-gray-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Inter, sans-serif;
}

:is(h2, h3, p, span) {
  font-family: Inter, sans-serif;
  font-size: 1rem;
}

:is(h2, h3, p, span).interface-text {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
}
